:root{
  --border:#D7CAA8;
  --background:#20222F;
  --container:#5D6C97;
  --nodeBorder:#B0C6FA;
  --nodeBackground:#93A7EC;
}

.XSmallCircle {
    -moz-user-select: none;
    background: none repeat scroll 0 0 var(--nodeBackground);
    border: 2px solid var(--nodeBorder);
    border-radius: 46px 46px 46px 46px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    padding: 23px;
    box-shadow: 0 0 1px var(--nodeBorder);
    color: var(--background);
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    text-align: center;
}
.XSmallCircle p {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: -11px;  /* undo half of the padding from the container to maximize the text area */
    overflow: hidden;
}

.SmallCircle {
    -moz-user-select: none;
    background: none repeat scroll 0 0 var(--nodeBackground);
    border: 2px solid var(--nodeBorder);
    border-radius: 64px 64px 64px 64px;
    box-shadow: 0 0 1px var(--nodeBorder);
    color: var(--background);
    cursor: pointer;
    height: 60px;
    overflow: hidden;
    padding: 32px;
    position: absolute;
    text-align: center;
    line-height: 60px;
    width: 60px;
}
.SmallCircle p {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: -16px;  /* undo half of the padding from the container to maximize the text area */
    overflow: hidden;
}
.MediumCircle {
    -moz-user-select: none;
    background: none repeat scroll 0 0 var(--nodeBackground);
    border: 2px solid var(--nodeBorder);
    border-radius: 128px 128px 128px 128px;
    box-shadow: 0 0 1px var(--nodeBorder);
    color: var(--background);
    cursor: pointer;
    height: 124px;
    overflow: hidden;
    padding: 64px;
    position: absolute;
    text-align: center;
    line-height: 124px;
    width: 124px;
}
.MediumCircle p {
    line-height: 1;
    display: inline-block;
    vertical-align: bottom;
    margin: -32px;  /* undo half of the padding from the container to maximize the text area */
    overflow: hidden;
}


.LargeCircle {
    -moz-user-select: none;
    background: none repeat scroll 0 0 var(--nodeBackground);
    border: 2px solid var(--nodeBorder);
    border-radius: 256px 256px 256px 256px;
    box-shadow: 0 0 1px var(--nodeBorder);
    color: var(--background);
    cursor: pointer;
    height: 252px;
    overflow: hidden;
    padding: 128px;
    position: absolute;
    text-align: center;
    width: 252px;
}
.XLargeCircle {
    -moz-user-select: none;
    background: none repeat scroll 0 0 var(--nodeBackground);
    border: 2px solid var(--nodeBorder);
    border-radius: 512px 512px 512px 512px;
    box-shadow: 0 0 1px var(--nodeBorder);
    color: var(--background);
    cursor: pointer;
    height: 508px;
    overflow: hidden;
    padding: 256px;
    position: absolute;
    text-align: center;
    width: 508px;
}
.NodeMetadata {
    display: none;
}
html, body {
    height: 100%;
}
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    width: 100%;
}
#background {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#container {
    background-color:var(--container);
    border-color: var(--border);
    border-radius: 32px 32px 32px 32px;
    border-style: solid;
    height: 80%;
    left: 2.5%;
    overflow: hidden;
    position: relative;
    top: 5%;
    width: 95%;
}
#header {
    background-color: var(--container);
    border-color: var(--border);
    background-image: url("saturn.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 32px 32px 32px 32px;
    border-style: solid;
    color: var(--border);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    padding-bottom: 10%;
    position: relative;
    text-align: center;
    top: 2.5%;
    width: 40%;
    height: 2.5%;
}
#headerContent{
  position: absolute;
  top: 0; bottom: 0; left: 0px; right: 0px;
  width:100%;
  height:100%;
  display: table;
}
#header h2 {
    position:relative;
    padding-left: 20px;
    width:50%;
    height:100%;
    display: table-cell;
    text-align: left;
}
#header p {
    position:relative;
    padding-right: 20px;
    width:50%;
    height:100%;
    display: table-cell;
    text-align: right;
}
#node30
{
    background-image: url("0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
